[mysqld]
default_authentication_plugin= mysql_native_password

default_time_zone='+00:00'
character_set_server=utf8mb4

[client]
default_character_set = utf8mb4

[mysql]
default_character_set = utf8mb4